<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ Title }}</title>
  </head>
  <body>
    <p> To : {{To}} </p>
    <p> From : {{From}} </p>
    <h1>Title : {{Title}}</h1>
    <p> Message : {{Message}} </p>
  </body>
</html>