<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {%for i in note%}
        <tr>
          <td>{{i.To}}</td>
          <td>{{i.From}}</td>
          <td>{{i.Title}}</td>
          <td>{{i.Message}}</td>
        </tr>
        {%endfor%}
    </table>
  </body>
</html>
